
.dark-theme {

    --background-color: #1E1E28;
    --text-color: #FFFFFF;
    --text-color-opposite: #000000;
    --icon-color: #DEDEDE;
    --navigation-color: #252531;
    --nav-gradient: linear-gradient(to right bottom, #313140, #1a1a22);
    --page-component-color: #24242F;
    --social-media-color: #333244;

    --paging-btn-color: #D63240;
    --paging-btn-hover-color: #e73745;

    --button-red-text-color: #FF384A;
    --button-red-gradient: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #FF6565, #D63240);
    --button-red-hover-text-color: #FF6565;
    --button-red-hover-border-color: #FF7979;

    --shadow-color1: #1E1E28;
    --shadow-color2: rgba(157, 96, 212, 0.5);
    --shadow-color3: rgba(255, 73, 73, 0.2);
    --shadow-color4: #ccc;

    --hero-text-color: #D06565;

    --section-gradient: linear-gradient(to right bottom, #2b2b38, #1d1d26);

    --hobbies-icon-border-color-1: #A94444;
    --hobbies-icon-border-color-2: #5559A9;
    --hobbies-icon-border-color-3: #5B9D5A;
    --hobbies-icon-border-color-4: #489292;

    --form-background-color: #22222b;
    --contact-form-label-color: #1F1F29;
    --form-gradient: linear-gradient(to right, #24242E, #1D1D26);

}


body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 2rem;

    padding-left: 0;
    padding-right: 0;
    
}

.nav-pos-holder {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    width: 19rem;
    max-width: 19rem;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 30px;
    min-width: 1020px;
    max-width: 65%;
    min-height: 100vh;
    padding: 4rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: var(--background-color);
}

.button-red-outline {
    /*text*/
    color: var(--button-red-text-color);
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 370;
    line-height: normal;


    height:45px;
    cursor: pointer;
    border-radius: 25px;
    border: solid 3px transparent;
    background-image: var(--button-red-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--shadow-color1) inset, 0 0 6px 0 rgba(157, 96, 212, 0.5);
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.hero-text {
    color: var(--text-color);
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

h1.hero-text {
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 5px;
}
h2.hero-text {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
}
h2.hero-text span {
    color: var(--hero-text-color);
    
}

.section {
    max-width: 100%;
    min-height: 40px;
    background-color: var(--page-component-color);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;

    background: var(--section-gradient);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.35);
}

.section-no-outline {
    max-width: 100%;
    min-height: 40px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.section-title {
    display:flex;
    flex: 1 0 100%;
    justify-content: center;
    margin: 0px 0 25px 0;
    font-size: 38px;
    font-weight: 700;
    color: var(--text-color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 20px;

    max-width: 100%;
    min-height: 40px;
    background-color: var(--page-component-color);
    border-radius: 20px;

    background: var(--section-gradient);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.35);
}

footer p {
    color: var(--text-color);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    margin: 10px 25px 10px 25px;


}

.hobbies-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.hobbies-element {
    display: flex;
    flex: 1 0 50%;
    flex-direction: row;
    margin: 20px 0px 20px 0;
    justify-content: center;
    padding-bottom: 20px;
}



.hobbies-element h3, .hobbies-element p {
    color:var(--text-color);
    flex: 1 0 50%;
    max-width: 300px;
    min-width: 250px;
    margin-right: 30px;
}

.hobbies-icon-border-1 {
    border: 5px solid var(--hobbies-icon-border-color-1);
    border-radius: 50%;
    width: 110px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
    margin-right: 30px;
    padding: 10px

}
.hobbies-icon-border-2 {
    border: 5px solid var(--hobbies-icon-border-color-2);
    border-radius: 50%;
    width: 110px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
    margin-right: 30px;
    padding: 10px
}
.hobbies-icon-border-3 {
    border: 5px solid var(--hobbies-icon-border-color-3);
    border-radius: 50%;
    width: 110px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
    margin-right: 30px;
    padding: 10px
}
.hobbies-icon-border-4 {
    border: 5px solid var(--hobbies-icon-border-color-4);
    border-radius: 50%;
    width: 110px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
    margin-right: 30px;
    padding: 10px
}

.button-red-outline:hover {
    background-image: var(--button-red-gradient);
    border-color: var(--button-red-hover-border-color);
    color: var(--button-red-hover-text-color);
    box-shadow: 2px 1000px 1px var(--shadow-color1) inset, 0 0 6px 0 var(--shadow-color2), 0 0 15px 10px var(--shadow-color3);
   }

.nav-box-effect {
    background: var(--nav-gradient);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    /*border-radius: 1rem;*/
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;

    height: 100vh;
    /*background-color: var(--navigation-color); */
    width: 19rem;
    max-width: 19rem;
}


.nav-top, .nav-menu, .nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation .nav-top {
    margin-top: 2.5rem;
    align-items: center;
    color: var(--icon-color);
    width: 220px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navigation .nav-top a {
    text-align: center;
    color: var(--icon-color);
}

.navigation .nav-top a img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin: 0 3rem 2rem 3rem;
    
}

.navigation .nav-top a h2 {
    font-size: 2rem;
    font-weight: 700;
}

.navigation .nav-menu {
    flex: 1;
    width: 100%;
    padding-left: 0;
    align-items: center;
    --top: 500px;
    --height: 0;
}

.navigation .nav-menu::before {
    content: '';
    position: absolute;
    right: 0;
    top: var(--top, 0);
    width: 2px;
    height: var(--height, 0);
    background-color: currentColor;
    transition: top 0.3s ease-in-out, height 0.3s ease-in-out;
}

.navigation .nav-menu::before {
    top: var(--top, 0);
    height: var(--height, 0);
  }

.navigation .nav-menu a {
    position: relative;
    display: inline-flex;
    height:100%;
    width: 100%;
    padding: 18px 0;
    padding-left: 60px;
    color: var(--icon-color);
    transition: 0.1s ease-in-out;
}

.navigation .nav-menu a:hover {
    color: var(--text-color);
    text-shadow: 0px 0px 2px var(--shadow-color4);
    transition: 0.1s ease-in-out;
}
.nav-list-item {

    width: 100%;
}
/*
.nav-list-item::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: currentColor;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out;
}


.nav-list-item:hover::before {
    transform: scaleY(1);
}
*/

.navigation .nav-menu a h3 {
    margin-left: 1.4rem;
    margin-bottom: 0;
    height: 2.2rem;
    line-height: 2.2rem;
    flex-shrink: 0;
    font-size: 1.6rem;
}

.navigation .nav-bottom {
    margin-bottom: 1.5rem;
    align-items: center;
}

.nav-bottom {
    width: 90%;
    max-width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    
}

.nav-bottom svg {
    width: 40px;
    height: 40px;
    margin: 5.5px;
    fill: var(--social-media-color);

}

.social-media-active {
    position: absolute;
    top: 0;
    left: 0px;
}

.social-media-inactive {
    position: absolute;
    top: 0;
    left: 0px;
}

.social-media-inactive svg:hover {
    opacity: 0;
}

.portfolio-elements {
    margin-top: 25px;
}

.portfolio-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-color: var(--icon-color);
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    
    min-width: 750px;
    max-width: min(950px, 80%);
    min-height: 150px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-bottom: 25px;

}

.paging {

    margin: auto;
    min-width: 750px;
    max-width: min(950px, 80%);
}

.paging a {
    margin-bottom: 1.5rem;
}

.portfolio-element-top h3 {
    font-size: 26px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.portfolio-element-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.portfolio-element-images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 220px;

    margin: 5px;
    flex: 1;
    
}

.portfolio-element-images-secondary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: space-between;
}

.portfolio-element-images img {
    margin:5px;
} 

.portfolio-element-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;

    margin: 5px;
}

.portfolio-element-text p {
    margin-bottom: 5px;
}

.portfolio-element-description {
    font-size: 13px;

}

.portfolio-element-text-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;  
    margin-top: auto; 
}

.view-more {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.view-more svg {
    margin-left: 4px;
    margin-bottom: 4px;
}




.form-field input, .form-field textarea {
    position: relative;
    background-color: var(--form-background-color);
    background: var(--form-gradient);
    border-radius: 20px;
    color: var(--text-color);
    padding: 10px;
    padding-left: 65px;
    padding-right: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    min-height: 50px; 
}

.form-field {
    margin-bottom: 20px;
}

.contact-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    min-height: 50px;
    height: 100%;
    width: 50px;
    background: var(--contact-form-label-color);
    top: 0;
    left: 0;
    font-size: 11px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 500;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    cursor: text;
    border-radius: 20px 0px 0 20px;
}

.textarea {
    overflow: auto;
    resize: vertical;
}

.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-tag {
    position: relative;
    top: 0;
    left: 0;
    width: 65px;
    min-height: 20px;
}

.embeded-pdf {
    width: 80%;
    height: 1140px;
    width: 820px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.element {
    min-width: 40px;
    min-height: 40px;
    background-color: var(--page-component-color);
    border-radius: 20px;
    margin-top:30px;
    margin-bottom: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;

    background: var(--section-gradient);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.35);
}

.row-elements {
    display: flex;
    flex-direction: row;
}

.column-elements {
    display: flex;
    flex-direction: column;
}

.center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    fill: var(--icon-color);
}

a {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--text-color);
}

.white-glow-hover:hover {
    text-shadow:0px 0px 12px var(--shadow-color4);
}

.filters {
    margin-bottom: 25px;
}

.filters button, .filters input {
    margin: 10px;
}

.filters-type ,.filters-other {
    width: 100%;
    justify-content: center;
}

.filters-type button {
    min-width:30px; 
    height:60px; 
    border-radius: 50px;
    flex: 1;
}

.filter-input {

    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 370;
    line-height: normal;

    cursor: pointer;
    border: solid 3px transparent;
    background-color: transparent;

    box-shadow: 2px 1000px 1px var(--shadow-color1) inset, 0 0 6px 0 rgba(157, 96, 212, 0.5);
    transition: background-color 0.2s ease, border-color 0.2s ease;

    color: var(--icon-color);
    border-color: var(--icon-color);

    min-width:30px; 
    max-width: 350px;
    height:60px; 
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    
    border-radius: 50px;
    flex: 1;

    appearance: auto;
}

select.filter-input {
    appearance: auto;
    -webkit-appearance: none;
    padding-right: 30px;
}



.filter-input option {
    color: var(--icon-color); 
    background-color: var(--page-component-color);
}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    margin:2px;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-red {
    color: var(--text-color-opposite);
    background-color: var(--paging-btn-color);
    border-color: var(--paging-btn-color);
}

.btn-red:hover {
    background-color: var(--paging-btn-hover-color);
    border-color: var(--paging-btn-hover-color);
}

.btn-outline-red {
    color: var(--paging-btn-color);
    border-color: var(--paging-btn-color);
    border-width: 2px;
}

.btn-outline-red:hover {
    color: var(--text-color-opposite);
    background-color: var(--paging-btn-hover-color);
    border-color: var(--paging-btn-hover-color);
}


.margins-medium {
    margin: 30px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.45s ease-in-out;
}

*, ::after, ::before {
    box-sizing: border-box;
}
