<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm Ján Pullmann, welcome to my personal website. Here you can find more about me, my skills and hobbies.">
    <meta name="keywords" content="Ján Pullmann John Pullmann Personal Website"/>
    <!-- icon -->
    <link rel="icon"  type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">
    <!--link styling-->
    <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }} - Ján Pullmann Personal Website">
    <meta property="og:description" content="I'm Ján Pullmann, welcome to my personal website. Here you can find more about me, my skills and hobbies.">
    <meta property="og:image" content="{{ url_for('static', filename='images/icon.ico', _external=True) }}">
    <meta property="og:url" content="http://www.johnpullmann.com">
    <meta property="og:type" content="website">
</head>
<body class="{{ theme }}">

    <div class="container">
        {% include "nav.html" %}
        
        <div class="content {{ 'logged-in-content' if current_user.is_authenticated }}">
            <div class="sec-nav-pos-holder {{ 'logged-in-pos-holder' if current_user.is_authenticated }}"></div>

            {% block content %}
            {% endblock content %}

            {% include "footer.html" %}
        </div>

        {% include "scripts.html" %}
    </div>
    
</body>
</html>