<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon -->
    <link rel="icon"  type="image/x-icon" href="{{ url_for('static', filename='images/icon.ico') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--link main styling-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>{{ title }}</title>
</head>
<body class="{{ theme }}">

    <div class="container">
        {% include "nav.html" %}
        
        <div class="content {{ 'logged-in-content' if current_user.is_authenticated }}">
            <div class="sec-nav-pos-holder {{ 'logged-in-pos-holder' if current_user.is_authenticated }}"></div>

            {% block content %}
            {% endblock content %}

            {% include "footer.html" %}
        </div>

        {% include "scripts.html" %}
    </div>
    
</body>
</html>