{% extends "layout.html" %}

{% block content %}
<!-- Current timeline path-->
{% if timespan != None and timespan != "" %}
<p class="timespan-path">
    <a href="{{ url_for('main.portfolio') + '?timespan=' }}">
        <span class="timespan-path-element">/All/</span>
    </a>
    <a href="{{ url_for('main.portfolio') + '?timespan='+timespan[:4] }}">
        <span class="timespan-path-element">{{timespan[:4]}}/</span>
    </a>
    {% if timespan|length >4 %}
        <a href="{{ url_for('main.portfolio') + '?timespan='+timespan }}">
            <span class="timespan-path-element">{{ timespan[5:] }}/</span>
        </a>
    {% endif %}
</p>
{% endif %}

<div class="timeline-cover">
    <div class="timeline-spacer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 14"><g id="Spacer" data-name="Spacer"><g id="Spacer1-2" data-name="Spacer"><rect class="spacer"/></g></g></svg></div>

    {% for month in timeline %}
        <a class="timeline-timespan-link" href="{{ url_for('main.portfolio') + '?timespan='+month }}">
            <!-- years -->
            {% if month[-2:] == "01" %}
            <a class="timeline-timespan-year-link" href="{{ url_for('main.portfolio') + '?timespan='+month[:4] }}">
                <p class="timeline-years"><b>{{ month[:4] }}</b></p>  
            </a>
            {% endif %}
            
            <div class="timeline-month" style="display: inline; position: relative; ">

                <!-- base -->
                <svg class="timeline-month-base" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="16" height="14"/></g></g></svg>

                <!-- month elements parts -->
                {% for education in timeline[month]['education'] %}
                    {% if education[0] == 's' %}
                        <svg class="timeline-month-education-start" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.88 16"><defs><style>.up-start</style></defs><title>{{timeline[month]['education'][education].timeline_name}}</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="up-start" cx="8" cy="8" r="8"/><path class="up-start" d="M5,13H19S30,4,26,3H12S1,12,5,13Z"/></g></g></svg>
                        <a class="timeline-text-link" href="{{ url_for('main.portfolio_element_page', element_name=timeline[month]['education'][education].url_name, element_type=timeline[month]['education'][education].type) }}{% if request.query_string.decode() %}?{{ request.query_string.decode() }}{% endif %}">
                            <p class="timeline-month-education-name"><b>{{ timeline[month]['education'][education].timeline_name }}</b></p>
                            <p class="timeline-month-education-day">{{ timeline[month]['education'][education].date_filter.strftime('%d') }}</p>
                            <p class="timeline-month-education-month">{{ timeline[month]['education'][education].date_filter.strftime('%b') }}</p>
                        </a>    
                    {% elif education[0] == 'i' %}
                        <svg class="timeline-month-education-inprogress" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.75 10"><defs><style>.up-base</style></defs><title>{{timeline[month]['education'][education].timeline_name}}</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="up-base" d="M.88,10h20s11-9,7-10h-20s-11,9-7,10"/></g></g></svg>
                    {% elif education[0] == 'e' %}
                        <svg class="timeline-month-education-end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.88 16"><defs><style></style></defs><title>{{timeline[month]['education'][education].timeline_name}}</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="up-end" cx="9.88" cy="8" r="8"/><path class="up-end" d="M14.88,13H.88c-4-1,7-10,7-10h1l6,10"/></g></g></svg>
                    {% endif %}

                {% endfor %}
                {% for work in timeline[month]['work'] %}
                    {% if work[0] == 's' %}
                        <svg class="timeline-month-work-start" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.88 16"><defs><style></style></defs><title>{{timeline[month]['work'][work].timeline_name}}</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="down-start" cx="8" cy="8" r="8"/><path class="down-start" d="M5,3H19s11,9,7,10H12S1,4,5,3Z"/></g></g></svg>
                        <a class="timeline-text-link" href="{{ url_for('main.portfolio_element_page', element_name=timeline[month]['work'][work].url_name, element_type=timeline[month]['work'][work].type) }}{% if request.query_string.decode() %}?{{ request.query_string.decode() }}{% endif %}">
                            <p class="timeline-month-work-name"><b>{{ timeline[month]['work'][work].timeline_name }}</b></p>
                            <p class="timeline-month-work-day">{{ timeline[month]['work'][work].date_filter.strftime('%d') }}</p>
                            <p class="timeline-month-work-month">{{ timeline[month]['work'][work].date_filter.strftime('%b') }}</p>
                        </a>
                    {% elif work[0] == 'i' %}
                        <svg class="timeline-month-work-inprogress" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.75 10"><defs><style></style></defs><title>{{timeline[month]['work'][work].timeline_name}}</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="down-base" d="M.88,0h20s11,9,7,10h-20s-11-9-7-10"/></g></g></svg>
                    {% elif work[0] == 'e' %}
                        <svg class="timeline-month-work-end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.88 16"><defs><style></style></defs><title>{{timeline[month]['work'][work].timeline_name}}</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="down-end" cx="9.88" cy="8" r="8"/><path class="down-end" d="M14.88,3H.88c-4,1,7,10,7,10h1l6-10"/></g></g></svg>
                    {% endif %}

                {% endfor %}
                {% for event in timeline[month]['events'] %}
                    <svg class="timeline-month-event-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 43"><defs><style>.event-point6</style></defs><title>{{timeline[month]['events'][event].timeline_name}}</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="event-point6" x="3" y="10" width="6" height="33" rx="2.5"/><circle class="event-point6" cx="6" cy="6" r="6"/></g></g></svg>
                    
                    <a class="timeline-text-link" href="{{ url_for('main.portfolio_element_page', element_name=timeline[month]['events'][event].url_name, element_type=timeline[month]['events'][event].type) }}{% if request.query_string.decode() %}?{{ request.query_string.decode() }}{% endif %}">
                        <p class="timeline-month-event-name"><b>{{ timeline[month]['events'][event].timeline_name }}</b></p>
                        <p class="timeline-month-event-day">{{ timeline[month]['events'][event].date_filter.strftime('%d') }}</p>
                        <p class="timeline-month-event-month">{{ timeline[month]['events'][event].date_filter.strftime('%b') }}</p>
                    </a>
                {% endfor %}
            </div>
        </a>
    {% endfor %}
    <div class="timeline-spacer"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 14"><title>spacer</title><g id="Spacer" data-name="Spacer"><g id="Spacer1-2" data-name="Spacer"><rect class="spacer"/></g></g></svg></div>
</div>

<div class="center-elements column-elements section-no-outline filters filters-javascript">
    <div class="filters-type row-elements" style="display:flex;">    
        <button class="button-red-outline" type="button" >Projects</button>
        <button class="button-red-outline" type="button" >Education</button>
        <button class="button-red-outline" type="button" >Certifications</button>
        <button class="button-red-outline" type="button" >Work</button>
    </div>
    <div class="filters-other row-elements"> 

        <form action="/portfolio" method="get">
            <select class="filter-input"  id="sort" name="sort" onchange="submitWithButton()">
                <option value="default_order" {% if request.args.get('sort') == 'default_order' %}selected{% endif %}>Default order</option>
                <option value="newest" {% if request.args.get('sort') == 'newest' %}selected{% endif %}>Newest</option>
                <option value="oldest" {% if request.args.get('sort') == 'oldest' %}selected{% endif %}>Oldest</option>
                <option value="alphabetically" {% if request.args.get('sort') == 'alphabetically' %}selected{% endif %}>Alphabetically</option>
            </select>
        
            <input class="filter-input"  type="text" id="search" name="search"  placeholder="Search..."  onkeydown="if (event.key === 'Enter') submitWithButton()" >
        </form>
    </div>

    <!-- Arrows for timeline -->
    <div class="timeline-arrow-left">
        <svg style="fill: none;" width="18" height="33" viewBox="0 0 18 33" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 2L3 17.3735L16 31" stroke="#DEDEDE" stroke-width="3" stroke-linecap="round"/>
        </svg>    
    </div>
    <div  class="timeline-arrow-right">
        <svg  style="fill: none;"  width="18" height="33" viewBox="0 0 18 33" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 2L15 17.3735L2 31" stroke="#DEDEDE" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
    
</div>

<div class="section-no-outline portfolio-elements">

    <!-- Imported Portfolio Elements from Database -->
    {% for PortfolioElement in PortfolioElements %}
        <div class="portfolio-element ">
            <div class="portfolio-element-top">
                <h3>{{ PortfolioElement.name }} </h3>
            </div>
            <div class="portfolio-element-tags">
            </div>

            <div class="portfolio-element-bottom">
                <div class="portfolio-element-images">
                    <!--small image for changed layout, first hidden-->
                    {% for image in PortfolioElement.images_small %}
                        {% if loop.index == 2 %}
                            <img class="port-elem-image-sec" src="{{ url_for('static', filename=image.image_path) }}" alt="image">
                        {% endif %}
                    {% endfor %}

                    <!--big image for main layout-->
                    {% for image in PortfolioElement.images_small %}
                        {% if loop.first %}
                            <img src="{{ url_for('static', filename=image.image_path) }}" alt="image">
                        {% endif %}
                    {% endfor %}

                    <!--small image for changed layout, first hidden-->
                    {% for image in PortfolioElement.images_small %}
                        {% if loop.index == 3 %}
                            <img class="port-elem-image-sec" src="{{ url_for('static', filename=image.image_path) }}" alt="image">
                        {% endif %}
                    {% endfor %}

                    <!--secondary images for main layout-->
                    <div class="portfolio-element-images-secondary">
                        {% for image in PortfolioElement.images_small %}
                            {% if loop.index == 2 or loop.index == 3 %}
                                <img src="{{ url_for('static', filename=image.image_path) }}" alt="image">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="portfolio-element-text">
                    <!-- Description -->
                    <p class="portfolio-element-description">{{ PortfolioElement.description|truncate(240, True, ' ...') }}</p>
                    <div class="portfolio-element-text-bottom">
                        <!-- Date -->
                        <p>{{ PortfolioElement.date_text }}</p>
                        <!-- View more link -->
                        <a class="view-more" href="{{ url_for('main.portfolio_element_page', element_name=PortfolioElement.url_name, element_type=PortfolioElement.type) }}{% if request.query_string.decode() %}?{{ request.query_string.decode() }}{% endif %}">
                            <p>View more</p>  
                            <svg class="icon" style="width: 16px; height: 16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><defs><style>.view-more1{fill:none;}</style></defs><title>link</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="view-more1" width="300" height="300"/><path d="M24.23,15.5C17.87,15.52,12.5,27,12.5,27V278A11.5,11.5,0,0,0,24,289.5H275.37a11.5,11.5,0,0,0,11.5-11.5V153.65c0-5.38-4.32-10.7-9.63-11.55a11.55,11.55,0,0,0-13.54,11.33V266.7h-228v-228h113.1A11.72,11.72,0,0,0,160.27,27a11.52,11.52,0,0,0-11.5-11.52Zm182.42,0a11.59,11.59,0,0,0,0,23.17H247.3l-88.92,88.94A11.58,11.58,0,0,0,174.76,144L263.7,55V95.73a11.59,11.59,0,0,0,23.17,0V27a11.5,11.5,0,0,0-11.5-11.5Z"/></g></g></svg>  
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="paging">
        {% for page_num in PortfolioElements.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            {% if page_num %}
                {% if page_num != PortfolioElements.page %}
                    <a class="btn btn-outline-red" href="{{ url_for('main.portfolio', page=page_num) }}&{{ request.query_string.decode() }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-red" href="{{ url_for('main.portfolio', page=page_num) }}&{{ request.query_string.decode() }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>

</div>


{% endblock %}
